@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;700&display=swap');

.modal-page {
  align-items: center;
  background-color: color-mix(in srgb, var(--color-black) 50%, transparent);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 101;

  .modal-container {
    background-color: var(--color-white);
    border-radius: 16px;
    max-height: 100vh;
    max-height: 100dvh;
    outline: none;
    scrollbar-width: none;
    width: 720px;

    .modal-header {
      background-color: var(--color-astronaut-blue);
      border-bottom: 1px solid var(--color-boston-blue);
      border-radius: 16px 16px 0 0;
      display: flex;
      font-family: Roboto, sans-serif;
      gap: 14px;
      line-height: normal;
      padding: 24px;

      .header-left-section {
        align-items: center;
        background-color: var(--color-boston-blue);
        border-radius: 10px;
        display: flex;
        height: 42px;
        justify-content: center;
        min-width: 42px;
        width: 42px;
      }

      .header-center-section {
        .header-title {
          color: var(--color-spindle);
          font-family: serif;
          font-size: 20px;
        }

        .header-subtitle {
          color: var(--color-malibu);
          font-size: 12px;
          font-weight: 500;
        }
      }

      .header-right-section {
        margin-left: auto;
        text-align: right;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          vertical-align: top;

          &:hover {
            background-color: var(--color-boston-blue);
          }
        }

        .badge {
          background-color: var(--color-bahama-blue);
          border-radius: 5px;
          color: var(--color-pattens-blue);
          display: flex;
          font-size: 11px;
          line-height: 1;
          margin-top: 7px;
          padding: 2px 8px;

          .badge-dot {
            align-self: center;
            background: var(--color-boston-blue);
            border-radius: 50%;
            height: 6px;
            margin-right: 4px;
            min-width: 6px;
            width: 6px;
          }
        }
      }
    }

    .modal-body {
      background-color: var(--color-midnight);
      display: flex;
      gap: 20px;
      padding: 24px;
    }

    .modal-footer {
      background-color: var(--color-midnight);
      border-radius: 0 0 16px 16px;
      color: var(--color-boston-blue);
      display: flex;
      gap: 6px;
      padding: 0 24px 24px 24px;
    }

    img {
      display: block;
    }

    @media (max-width: 720px) {
      border-radius: 0;
      overflow-y: auto;
    }
  }
}
